<h1>Booking Confirmed!</h1>
<div id="booking">
	<p class="headline">Your Appointment</p>
	<div class="info">
		<span class="left">NAME</span>
		<span class="right">{{name}}</span>
	</div>
	<div class="info">
		<span class="left">DATE</span>
		<span class="right">{{time}} - {{date}}</span>
	</div>
	<div class="info">
		<span class="left">WAITING NO.</span>
		<span class="waitingNumber right">#{{number}}</span>
	</div>
	<div class="info">
		<span class="left">AT</span>
		<span class="right">
			{{placeName}}<br />
			{{placeAddress}}
		</span>
	</div>
	<div class="info">
		<button class="btn btn-danger">Cancel</button>
	</div>
</div>
<div id="payment">
	<form id="checkout" method="post" action="/checkout">
		<div id="payment-form"></div>
		<input type="submit" value="Pay $100" />
	</form>
</div>