
<div id="services">
	<h3>Services</h3>
	<select id="services-list" class="single">
		<option></option>
		{{{services}}}
	</select>
</div>

<div id="personal-data" class="hidden">
	<h3>Personal Info</h3>
	<input class="required" name="firstName" placeholder="Firstname" value="Hans"/>
	<input class="required" name="lastName" placeholder="Lastname" value="Wurst"/><br />
	<input class="required" name="email" placeholder="E-Mail" value="hans@wurst.de"/><br />
	<input class="required" name="phone" placeholder="Phone" value="0123456789"/><br />
</div>

<button id="toggle-optional" class="btn btn-info hidden">Toggle Optional</button>
<div id="optional-information" class="hidden">
	<div class="days">
		<div class="day btn btn-success" data-day="monday">Monday</div>
		<div class="day btn btn-success" data-day="tuesday">Tuesday</div>
		<div class="day btn btn-success" data-day="wednesday">Wednesday</div>
		<div class="day btn btn-success" data-day="thursday">Thursday</div>
		<div class="day btn btn-success" data-day="friday">Friday</div>
		<div class="day btn btn-success" data-day="saturday">Saturday</div>
	</div>
	<div class="time">
		Time: <span>8:00</span>
		<input class="optional" id="optional-time" type="text" class="span2" value="" data-slider-min="8" data-slider-max="20" data-slider-step="1" data-slider-value="[10,18]"/>
		<span>20:00</span>
	</div>
	<div class="zipcodes">
		<select class="optional" id="optional-zipcode" multiple="multiple"></select>
	</div>
</div>

<div id="submit-container" class="hidden">
	<button class="btn btn-success disabled">Submit</button>
</div>