<div id="services">
	<select id="services-list" class="single">
		{{{services}}}
	</select>
</div>

<div id="personal-data" class="hidden">
	<input name="firstname" placeholder="Firstname" />
	<input name="lastname" placeholder="Lastname" /><br />
	<input name="email" placeholder="E-Mail" /><br />
	<input name="phone" placeholder="Phone" /><br />
</div>

<a href="#" id="toggle-optional" class="btn btn-info hidden">Toggle Optional</a>
<div id="optional-information" class="hidden">
	<select id="optional-date" multiple="multiple">
  		<option value="monday" selected>Monday</option>
  		<option value="tuesday" selected>Tuesday</option>
  		<option value="wednesday" selected>Wednesday</option>
  		<option value="thursday" selected>Thursday</option>
  		<option value="friday" selected>Friday</option>
  		<option value="saturday" selected>Saturday</option>
	</select><br />
	Time: <span>8:00</span>
	<input id="optional-time" type="text" class="span2" value="" data-slider-min="8" data-slider-max="20" data-slider-step="1" data-slider-value="[10,18]"/>
	<span>20:00</span><br />
	<select id="optional-zipcode" multiple="multiple"></select>
</div>

<div id="submit-container" class="hidden">
	<a href="#" class="btn btn-success disabled">Submit</a>
</div>