#booking,
#payment {
	border: 1px solid #cccccc !important;
    border-radius: 2px !important;
    margin-bottom: 40px !important;
    padding: 10px;
    width: 50%;
}

#booking {
	height: 400px;
}

#booking .headline {
	position: relative;
	margin: 0 auto;
	width: 155px;
	font-size: large;
	height: 40px;
	text-decoration: underline;
}

#booking .info {
	margin-bottom: 10px;
	display:block;
	height:50px;
}

#booking .waitingNumber {
	font-weight: bold;
}

#booking .left {
	font-weight: normal;
	width:120px;
	display:block;
	float:left;
}

#booking .right {
	font-weight: bold;
	text-align: left;
	display:block;
	width:200px;
	float:left;
	color:#008cba;
}

#payment span {
	
}

#payment button {
	
}





