#services select {
	width: 50%;
}

input, button, select, textarea {
color: #008cba;
padding:6px;
margin:10px;
margin-left:0px;
width:100%;
border: 1px solid #cccccc;
border-radius: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
color: #008cba;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #008cba;
}

div#services {
padding:40px 0px;
}


span.select2 {
width:100% !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 2px;
	padding-top:3px;
	padding-bottom:3px;
	
}

.select2-container .select2-selection--single {
height:37px !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
}


div#personal-data {
padding-top:30px;
padding-bottom:30px;
border-top:1px dotted #008cba;
border-bottom:1px dotted #008cba;
}

div#optional-information {
padding-top:0px;
padding-bottom:30px;
border-bottom:1px dotted #008cba;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #008cba;
    color: white;
}

li {
color: #008cba;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    /*border: 1px solid #cccccc;*/
	border:none;
	background-color:#f5f5f5;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    position: absolute;
    width: 100%;
    z-index: 1051;
}


input:focus{
    outline: none;
    
    border-color: #008cba;
}

input:hover {
	transition: all 0.3s ease;
	box-shadow: 0px 0px 6px #dddddd;
    /*border: 1px solid #008cba;*/
    border-radius: 2px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px;
    cursor: text;
}

div.table-responsive button.btn {
font-size:12px !important;
margin:0px;
border-radius: 2px;
}

div.table-responsive {
width:100%;
}

table.table th {
padding:12px 0px !important;
border-bottom:none !important;
}

table.table td {
padding:8px 8px 8px 0px !important;
white-space: normal !important;
}

 table.table tr:hover {
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px #dddddd;
}

.pacman {
	background-image: url('/images/melder_animated_62_60px.gif');
	background-repeat: no-repeat;
	height: 62px;
	padding-left: 80px;
	line-height: 55px;
	font-size: 30px;
}

div.pacman {
width: 70%;
margin:40px 0px;

color:#008cba !important;

}

div#intro {
display:block;
width:800px;
height:600px;
margin:0px;

}

button#toggle-optional {
margin: 40px 0px 20px 0px !important;
background-color:#ffffff !important;
color:#008cba !important;
width:30%;
border:none;
font-size:26px;
font-weight: 300;
}

button#toggle-optional:hover {
text-decoration:underline;
}

div.days {
margin-bottom:20px;


}

div.time {
margin-bottom:20px;

}

div.zipcodes {
margin-bottom:20px;

}

div#submit-container {
padding-top:30px;
margin-bottom:80px;
}

h3 {
margin:0px 0px 10px 0px !important;

}

.slider.slider-horizontal {
width:480px !important;
}

.day {
margin:0px 5px 10px 0px !important;

}

.navbar-brand {
    
    padding: 9px 15px !important;
}
